<div class="backdrop"></div>
<header class="main-header  justify-content-center">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a href="/">ĐIỂM DANH</a>
            </li>
            <li class="main-header__item">
                <a href="/workTime">GIỜ LÀM/LƯƠNG</a>
            </li>
            <li class="main-header__item">
                <a href="/infomation">THÔNG TIN CÁ NHÂN</a>
            </li>
            <li class="main-header__item">
                <a href="/covid">COVID
                </a>
            </li>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a href="/">ĐIỂM DANH</a>
        </li>
        <li class="mobile-nav__item">
            <a href="/salary">GIỜ LÀM/LƯƠNG</a>
        </li>
        <li class="mobile-nav__item">
            <a href="/info">THÔNG TIN CÁ NHÂN</a>
        </li>
        <li class="mobile-nav__item">
            <a href="/covid">COVID</a>
        </li>
    </ul>
</nav>