<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="container">

                <h1>THÔNG TIN GIỜ LÀM && LƯƠNG </h1>

            </main>
            <%- include('../includes/end.ejs') %>